@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRise {
  from {
      opacity: 0;
      transform: translateY(40px):
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes growLine {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}
