:root {
    /* ===== COLORS ===== */
    --primary: #6466AD;
    --secondary: #8A8CCD;
    --text: #333333;
    --background: #F5F5F5;
    --white: #FFFFFF;
    --black: #000000;
    --success: #4CAF50;
    /* ===== FONT ===== */
    --font-poppins: 'Poppins', sans-serif;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }

body {
    font-family: var(--font-poppins);
    background-color: var(--background);
}

/* ===== GENERAL ===== */
.text-highlight {
    font-weight: var(--font-bold);
    color: var(--primary);
}

.btn {
    cursor: pointer;
    height: 3rem;
    border: none;
    font-family: var(--font-poppins);
    font-size: 1rem;
    font-weight: var(--font-semibold);
    padding: 0.5rem 1.5rem;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--white);
}

.btn-primary:hover { background-color: var(--secondary); }

.section { padding: 2.5rem 1rem; }

.section__title { 
    color: var(--text);
    text-align: center;
    font-weight: var(--font-semibold);
}

.section__desc {
    margin-top: 0.5rem;
    color: #666666; /* TODO: */
    text-align: center;
    line-height: 1.5;
}

.tags {
    list-style-type: none;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.tag {
    padding: 0.125rem 0.5rem;
    border-radius: 3.125rem;
    background-color: var(--secondary);
    color: var(--white);
    font-size: 0.75rem;
}

/* ===== HEADER ===== */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-inline: 1rem;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav__logo {
    height: auto;
    width: 100%;
    display: block;
    max-width: 100px;
}

.nav__divider {
    height: 1px;
    width: 25px;
    transform: rotate(90deg);
    background-color: #D9D9D9; /* TODO: */
    display: none;
}

.nav__list {
    list-style-type: none;
    display: none;
}

.nav__link {
    text-decoration: none;
    color: var(--text);
    font-weight: var(--font-medium);
}

.nav__link:hover { color: var(--secondary); }

/* ===== HERO ===== */
.hero {
    height: calc(100dvh - 70px);
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__greeting {
    font-size: clamp(1.5rem, 3.5vw, 3rem);
    color: var(--text);
    font-weight: var(--font-bold);
}

.hero__main {
    font-size: clamp(2rem, 5vw, 4rem);
    color: var(--text);
}

.hero__sub {
    font-size: clamp(1.5rem, 3.5vw, 3rem);
    color: var(--text);
}

.hero__desc {
    margin-top: 1rem;
    font-size: clamp(1rem, 1vw + 0.645rem, 1.25rem);
    line-height: 1.5;
    color: var(--text);
}

.hero__btn {
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

/* ===== JOURNEY ===== */
.journey__list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.journey__line {
    height: 100%;
    width: 1px;
    background-color: #D9D9D9; /* TODO: */
    position: absolute;
    top: 0;
    left: 7px;
    z-index: -999;
}

.journey__item {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.journey__indicator {
    min-height: 0.938rem;
    min-width: 0.938rem;
    background-color: var(--success);
    border-radius: 3.125rem;
}

.journey__card {
    background-color: var(--primary);
    padding: 1rem;
    color: var(--white);
    box-shadow: 0 4px 12px rgb(0, 0, 0, 0.15);
    width: 100%;
}

.journey__card-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.journey__card-icon {
    height: auto;
    width: 100%;
    display: block;
    max-width: 50px;
}

.journey__card-title {
    font-size: 1rem;
    font-weight: var(--font-semibold);
    line-height: 1.2;
}

.journey__card-sub {
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.journey__card-range, .journey__card-location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.journey__card-range > span, .journey__card-location > span { font-size: 1.125rem; }

.journey__card-range > p, .journey__card-location > p  { font-size: 0.75rem; }

/* ===== PROJECTS ===== */
.projects__list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.projects__project {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projects__image {
    height: auto;
    width: 100%;
    display: block;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.10);
    object-fit: cover;
}

.projects__category {
    font-size: 0.875rem;
    font-weight: var(--font-medium);
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.projects__title {
    font-size: 1.5rem;
    font-weight: var(--font-semibold);
    margin-top: 0.25rem;
}

.projects__desc {
    margin-top: 0.75rem;
    line-height: 1.5;
}

.projects__tags {
    list-style-type: none;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.projects__tag {
    padding: 0.125rem 0.5rem;
    border-radius: 3.125rem;
    background-color: var(--secondary);
    color: var(--white);
    font-size: 0.75rem;
}

.projects__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    
    margin-top: 2rem;
    width: 100%;
    text-decoration: none;
}

/* ===== SKILLS ===== */
.skills__grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.skills__card {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;
    background-color: var(--primary);
    box-shadow: 0 4px 12px rgb(0, 0, 0, 0.15);
}

.skills__card:hover { background-color: var(--secondary); }

.skills__icon {
    height: auto;
    width: 100%;
    display: block;
    max-width: 40px;
}

.skills__text {
    color: var(--white);
    text-align: center;
    font-size: 0.875rem;
}

/* ===== CONTACT ===== */
.contact__social-list {
    list-style-type: none;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact__social-item {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.contact__social-icon {
    min-height: 3rem;
    min-width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.2rem;
}

.contact__social-text { font-weight: var(--font-semibold); }

.contact__social-link {
    text-decoration: none;
    font-size: 0.875rem;
    color: var(--text);
}

.contact__social-link:hover { color: var(--secondary); }

.contact__right { margin-top: 2rem; }

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact__form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.contact__form-label {
    font-size: 1rem;
    font-weight: var(--font-semibold);
}

.contact__form-input {
    display: block;
    min-height: 3rem;
    padding-inline: 1rem;
    border: 1px solid #888888; /* TODO: */
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: var(--font-poppins);
    box-sizing: border-box;
}

.contact__form-textarea {
    display: block;
    min-height: 7.5rem;
    padding: 1rem;
    border: 1px solid #888888; /* TODO: */
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: var(--font-poppins);
    box-sizing: border-box;
}

.contact__form-submit {
    margin-top: 2rem;
    width: 100%;
}

/* ===== FOOTER ===== */
.footer { padding: 1rem; }

.footer__copyright {
    color: #888888; /* TODO: */
    font-size: 0.8rem;
    text-align: center;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (min-width: 768px) {
    /* ===== GENERAL ===== */
    .section { padding: 2.5rem 3rem; }

    .section__title { font-size: 2rem; }
    
    .btn { width: fit-content; }

    /* ===== HEADER ===== */
    .nav { padding-inline: 3rem; }

    /* ===== HERO ===== */
    .hero { padding-inline: 3rem; }

    .hero__desc { max-width: 80%; }

    /* ===== JOURNEY ===== */
    .journey__list {
        margin: 0 auto;
        margin-top: 3rem;
        max-width: 42rem;
        gap: 2rem;
        position: relative;
    }

    .journey__line {
        left: 50%;
        transform: translateX(-50%);
    }
    
    .journey__item { 
        gap: 2rem; 
        align-self: flex-end;
        max-width: 21.469rem;
        width: 100%;
    }

    .journey__card-header { flex-direction: row; }

    .journey__card-icon { max-height: 50px; }

    .journey__card-range { margin-top: 1rem; }

    .item--left {
        flex-direction: row-reverse;
        align-self: flex-start;
    }
    
    /* ===== PROJECTS ===== */
    .projects__list { margin-top: 3rem; }

    .projects__project {
        flex-direction: row;
        gap: 3rem;
    }

    .projects__image {
        width: 50%;
        height: 100%;
    }

    .project--reverse { flex-direction: row-reverse; }

    /* ===== SKILLS ===== */
    .skills__grid {
        grid-template-columns: repeat(4, 160px);
        justify-content: center;
        gap: 1rem;
        margin-top: 3rem;
    }

    /* ===== CONTACT ===== */
    .contact__form { align-items: flex-end; }
}

@media screen and (min-width: 1024px) {
    /* ===== GENERAL ===== */
    .section { padding: 2.5rem 5rem; }

    /* ===== HEADER ===== */
    .nav { padding-inline: 5rem; }

    /* ===== HERO ===== */
    .hero { padding-inline: 5rem; }

    .hero__desc { max-width: 31.25rem; }

    /* ===== JOURNEY ===== */
    .journey__list {
        margin-top: 4rem;
        max-width: 54rem;
        gap: 3rem;
    }

    .journey__item { max-width: 27.469rem; }

    /* ===== PROJECTS ===== */
    .projects__list { margin-top: 4rem; }

    .projects__project { gap: 4rem; }

    .projects__image, .projects__content { flex: 1 }

    /* ===== SKILLS ===== */
    .skills__grid { margin-top: 4rem; }

    /* ===== CONTACT ===== */
    .contact { 
        display: flex;
        gap: 3rem; 
    }

    .contact__left, .contact__right { width: 50%; }

    .contact__title, .contact__desc { text-align: start; }

    .contact__right { margin-top: unset; }
}

@media screen and (min-width: 1440px) {
    /* ===== GENERAL ===== */
    .section { padding: 5rem 7.5rem; }

    /* ===== HEADER ===== */
    .nav { padding-inline: 7.5rem; }

    .nav__divider { display: block; }

    .nav__list {
        display: flex;
        gap: 2rem;
    }

    .nav > span { display: none; }

    /* ===== HERO ===== */
    .hero { padding-inline: 7.5rem; }

    /* ===== JOURNEY ===== */
    .journey__list { 
        max-width: 75rem;
        gap: 4rem;
    }

    .journey__item { max-width: 37.969rem; gap: 2rem; }

    /* ===== PROJECTS ===== */
    .projects__project { gap: 5rem; }
    
    .projects__image { max-width: 37.5rem; }

    /* ===== CONTACT ===== */
    .contact { gap: 5rem; }
}

