:root {
    --primary: #6466AD;
    --secondary: #8A8CCD;
    --text: #333333;
    --bg: #F5F5F5;
    --white: #FFFFFF;
    --black: #000000;
    --border: #D9D9D9;
    --font-poppins: 'Poppins', sans-serif;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-poppins);
    background-color: var(--bg);
}

/* ===== HEADER ===== */
.header {}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-inline: 1rem;
    position: fixed;
    width: 100%;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav__wrapper > img {
    height: auto;
    width: 100%;
    display: block;
    max-width: 100px;
}

.nav__wrapper > div {
    height: 1px;
    width: 25px;
    transform: rotate(90deg);
    background-color: var(--border);
    display: none;
}

.nav__wrapper > ul { 
    list-style-type: none; 
    display: none; 
}

.nav__wrapper > ul > li {}

.nav__wrapper > ul > li > a {
    text-decoration: none;
    color: var(--text);
    font-weight: var(--font-medium);
}

.nav__wrapper > ul > li > a:hover {
    color: var(--secondary);
}

/* ===== HERO ===== */
.hero {
    height: 100vh;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__wrapper {}

.hero__wrapper > span { 
    font-size: clamp(1.5rem, 3.5vw, 3rem);
    color: var(--text); 
}

.hero__wrapper > h1 { 
    font-size: clamp(2rem, 5vw, 4rem);
    color: var(--text); 
}

.hero__wrapper > h2 { 
    font-size: clamp(1.5rem, 3.5vw, 3rem);
    color: var(--text); 
}

.hero > p {
    margin-top: 1rem;
    font-size: clamp(1rem, 1vw + 0.645rem, 1.25rem);
    line-height: 1.5;
    color: var(--text);
}

.bold {
    font-weight: 700;
    color: var(--primary);
}

.hero__btn {
    cursor: pointer;
    height: 48px;
    border: none;
    font-family: var(--font-poppins);
    font-size: 1rem;
    font-weight: var(--font-semibold);
    padding: 0.5rem 1.5rem;
    background-color: var(--primary);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

.hero__btn:hover { background-color: var(--secondary); }

/* ===== ABOUT ===== */
.about {}


/* ===== JOURNEY ===== */
.journey {}


/* ===== PROJECTS ===== */
.projects {}


/* ===== SKILLS ===== */
.skills { padding: 2.5rem 1rem; }

.skills__header { text-align: center; }

.skills__header > h2 { color: var(--text); }

.skills__header > p { 
    margin-top: 0.5rem; 
    color: var(--text); 
}

.skills__grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.skills__grid__card {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;
    background-color: var(--primary);
    box-shadow: 0 4px 12px rgb(0, 0, 0, 0.15);
}

.skills__grid__card:hover { background-color: var(--secondary); }

.skills__grid__card > img {
    height: auto;
    width: 100%;
    display: block;
    max-width: 40px;
}

.skills__grid__card > p { 
    color: var(--white);
    text-align: center;
    font-size: 0.875rem;
}


/* ===== CONTACT ===== */
.contact {}


/* ===== MEDIA QUERIES ===== */
@media screen and (min-width: 768px) {
    .nav { padding-inline: 3rem; }

    /* ===== HERO ===== */
    .hero { padding-inline: 3rem; }

    .hero > p { max-width: 80%; }

    .hero__btn { width: fit-content; }

    /* ===== SKILLS ===== */
    .skills { padding: 2.5rem 3rem; }

    .skills__grid { 
        grid-template-columns: repeat(4, 160px); 
        justify-content: center;
        gap: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .nav { padding-inline: 5rem; }

    /* ===== HERO ===== */
    .hero { padding-inline: 5rem; }
    
    .hero > p { max-width: 500px; }
}

@media screen and (min-width: 1440px) {
    .nav { padding-inline: 7.5rem; }

    .nav > span { display: none; }

    .nav__wrapper > div { display: block; }
    
    .nav__wrapper > ul {
        display: flex;
        gap: 2rem;
    }

    /* ===== HERO ===== */
    .hero { padding-inline: 7.5rem; }
}
